<ion-view title="Login" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div></div>
        <form id="login-form2" class="list ">
            <label class="item item-input " id="login-input1">
                <span class="input-label">Email</span>
                <input type="text" placeholder="abc123@nyu.edu">
            </label>
            <label class="item item-input " id="login-input2">
                <span class="input-label">Password</span>
                <input type="password" placeholder="password">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="login-toggle2" name="Remember Me" class=" ">Remember Me</ion-toggle>
        </form>
        <form id="login-form3" class="list ">
            <a ui-sref="tabsController.cartTabDefaultPage" id="login-button3" class=" button button-positive  button-block ">Login with Email</a>
        </form>
        <a ui-sref="signup" id="login-button8" class=" button button-positive  button-block ">New User? Register Here</a>
        <div id="login-button-bar1" class=" button-bar ">
            <button id="login-button4" class=" button button-positive  button-block icon ion-social-google "></button>
            <button id="login-button5" class=" button button-positive  button-block icon ion-social-facebook "></button>
            <button id="login-button6" class=" button button-positive  button-block icon ion-social-twitter "></button>
        </div>
    </ion-content>
</ion-view>